//color variables
$purple: #5a3c87;
$lightPurple: lighten($purple, 16%);
$lighterPurple: lighten($purple, 50%);
$green: #7bda0e;
$lightGreen: lighten($green, 37%);
$lightSatGreen: saturate($lightGreen, 30%);
//media width variables
$small-size: 615px;
$medium-size: 768px;
$large-size: 1004px;
$wideWidth: 950px;
$eventsToRows: 815px;

/***********************************************************************
                  EXTENDERS, cuz wow flex takes up room
***********************************************************************/
%resetSize {
  padding: 0;
  margin: 0;
}
%flex {
  @include display(flex);
}
%flex-direction-column {
  @include flex-direction(column);
}
%flex-grow-1 {
  @include flex(1);
}
%flex-wrap {
  @include flex-wrap(wrap);
}

/***********************************************************************
                      GLOBAL STYLISTIC CHANGES
***********************************************************************/
@font-face {
    font-family: titleFont;
    src: url(../fonts/HelveticaNeueLTStd-BdCn.otf);
}
* {
  box-sizing: border-box;
}
body {
  @extend %flex;
  @extend %flex-direction-column;
  min-height: 100vh;
  font-family: $lucida-grande;
}
h1 {
  font-size: 3.3em;
  font-family: titleFont;
}
h2 {
  font-size: 2.2em;
  margin-bottom: 0;
}
p {
  font-size: 1.2em;
}
ul {
  @extend %resetSize;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.affix {
  top: 0;
  width: 100%;
  @media (min-width: $medium-size) {
    position: relative;
  }
}
