/***********************************************************************
                              HEADER CSS
***********************************************************************/
header {
  @extend %flex;
  @extend %flex-direction-column;
  @extend %resetSize;
  //holds the website title and is a clickable link to homepage
    a {
      background-color: $green;
      height: 175px;
      text-align: center;
      width: 100%;
      h1 {
        @media (min-width: 500px) {
          padding-top: 24px;
          font-size: 4em;
        }
        color: $purple;
        @extend %flex-grow-1;
      }
    }
  //holds the main menu
  .main-nav {
    z-index: 50;
    margin-bottom: -50px;
    height: 50px;
    @include navbar(purple);
  }
}

/***********************************************************************
                              FOOTER CSS
***********************************************************************/
footer {
  text-align: center;
  background-color: $green;
  @extend %flex;
  .container {
    @include align-self(center);
    padding: 11px 15px;
    h3 {
      @extend %resetSize;
      text-align: right;
      font-size: 1.7em;
      font-family: 'Josefin Sans', sans-serif;
    }
    p {
      @extend %resetSize;
      line-height: 1.5;
      text-align: left;
    }
  }
  small {
    @include align-self(flex-end);
    font-size: .7em;
  }

}
