extends layout

block content
  .background.whiteGreen
    .content
      #subNav(data-spy="affix" data-offset-top="175")
        .navbar.navbar-default.navbar-inner
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#subNavbar', aria-expanded='false', aria-controls='navbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              h3 #[span A]BOUT
            #subNavbar.collapse.navbar-collapse
              ul
                li
                  a(href="#") HISTORY & MISSION
                li
                  a(href="#staff") STAFF
                li
                  a(href="#board") BOARD OF DIRECTORS
                li
                  a(href="#institutes") INSTITUTIONAL SUPPORT
                li
                  a(href="#contact") CONTACT US
                li
                  a(href="#tickets") TICKETS & DISCOUNTS
                li
                  a(href="#directions") DIRECTIONS
                li
                  a(href="#") BACK TO TOP
      .scrollContent
        h1 History & Mission
        p Theater Schmeater is tiny stage with a giant presence. It has been around since the dark ages, and there's much more I'm sure to say about it but this is purely filler for the now.
        p  In the future, use the navigational sidebar to get to your desired subject. This page will auto scroll to the right subject when I get around to implementing javascript.
        hr
        h2#staff Staff
        ul
          li
            h3 Dana Amromin
            p Resident Sound Designer
          li
            h3 Jessamyn Bateman-lino
            p Resident Stage Manager, Production Manager
          li
            h3 Raye Clevenstine
            p Bartender
          li
            h3 Julia Evanovich
            p Resident Costume Designer
          li
            h3 Omar Forrest
            p Production Assistant
          li
            h3 Emily Harvey
            p Artistic Associate
          li
            h3 Dave Hastings
            p Technical Director
          li
            h3 Miranda Holtmann
            p FOH Manager
          li
            h3 Jared Hughes
            p Technical assistance
          li
            h3 Roger Huston
            p staff carpenter
          li
            h3 John Longenbaugh
            p Literary Manager
          li
            h3 J.Woody Lotts
            p Intern
          li
            h3 Carissa Meisner Smit
            p Managing Director
          li
            h3 Kendra Pierce
            p Casting Director/ Artist Liaison
          li
            h3 Robert Pillitteri
            p Art Gallery Curator
          li
            h3 Brandon Ryan
            p bartender
          li
            h3 Andrew Shanks
            p Social Media Guru
          li
            h3 Jaime Shure
            p Assistant Managing Director
          li
            h3 Doug Staley
            p Artistic Director / Marketing Director
          li
            h3 Monica Wulzen
            p Community outreach Marketing
        hr
        h2#board Board of Directors
        ul
          li
            h3 Amy Wallace
            p Treasurer
          li
            h3 Angela Batiste
            p Trustee
          li
            h3 Bob Sepulveda
            p President
          li
            h3 Clinton Moore
            p Trustee
          li
            h3 Douglas Austin III
            p Trustee
          li
            h3 Erin O'Rorke
            p Trustee
          li
            h3 Jill Marr
            p Secretary
          li
            h3 Katherine Woolverton
            p Vice President
          li
            h3 Kelly Conway
            p Trustee
          li
            h3 Maureen Caruso
            p Trustee
          li
            h3 Raelene Plant
            p Trustee
          li
            h3 Sarah Carroll
            p Trustee
        hr
        h2#institutes Institutional Supporters
        p Theater Schmeater's season is made possible, in part, by our generous institutional supporters.
        hr
        h2#contact Contact Us
        p Our phone number is (206) 324-5801. We answer calls day or night, rain or shine. Except on Kwanzaa.
        p Or reach us via email at emailaddress@schmeater.org
        hr
        h2#tickets Tickets & Discounts
        p Tickets are of variable pricing depending on the show. Tickets are purchased through blah blah.com.
        p Thursdays are pay what you can, so please come and pay how you fancy! Heavily discounted tickets are also often available on goldentickets.com
        hr
        h2#directions Directions
        p Theater Schmeater is located at  2125 3rd Ave, Seattle, WA 98121. Here is a link to Google maps. There will also be an interactive google map here when I get around to it.
      #sideGreen
        #sideNav
          h1 ABOUT
          ul
            li
              a(href="#") HISTORY & MISSION
            li
              a(href="#staff") STAFF
            li
              a(href="#board") BOARD OF DIRECTORS
            li
              a(href="#institutes") INSTITUTIONAL SUPPORT
            li
              a(href="#contact") CONTACT US
            li
              a(href="#tickets") TICKETS & DISCOUNTS
            li
              a(href="#directions") DIRECTIONS
            li
              a(href="#") BACK TO TOP
