extends layout

block content
  .GreenWhiteBackground
    .content
      .upcoming-container
        h1 UNDER CONSTRUCTION
        p Please mostly take a look at the support, about and press pages, as I've mainly worked on those.
      .calendar-container
