doctype html
html(lang="en")
  include ./partials/_head.jade
  body
    header
      a(href='/')
        h1 Theater Schmeater
      .main-nav(data-spy="affix" data-offset-top="175")
        .navbar.navbar-default.navbar-inner
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              h3 #[span M]ENU
            #navbar.collapse.navbar-collapse
              ul.nav
                li
                  a(href='/') HOME
                li
                  a(href='/season') SEASON/EVENTS
                li
                  a(href='/support') SUPPORT
                li
                  a(href='/about') ABOUT
                li
                  a(href='/press') PRESS PAGE

    block content
    footer
      ul
        li
          a(href="/about/#contact") CONTACT US
        li
          a(href="/about/#tickets") TICKET INFO
        li
          a(href="/about/#directions") DIRECTIONS
        li
          a(href="/support/#donate") DONATE
      .footerInfo
        img(src="/images/badge-green-purple-back.png" alt="Theater Schmeater Logo")
        .div
          p #[span Theater Schmeater]
          p #[span Address: ] 2125 3rd Ave, Seattle, WA 98121
          p #[span Phone: ] (206) 324-5801
        form
          label Join Our Newsletter
          input#newsletter.form-control(type="email" aria-descr placeholder="oncemonthly@email.com")
        .links
          a(href="https://www.facebook.com/TheSchmee/")
            span.fb
          a(href="https://twitter.com/TheaterSchmee")
            span.tw
      small &copy; 2016 Theater Schmeater, website by Nicholas Smit
