doctype html
html(lang="en")
  include ./partials/_head.jade
  body
    header
      .titleBox
        h1 Theater Schmeater
      .main-nav
        .navbar.navbar-default.navbar-inner
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              h3 #[span M]ENU
            #navbar.collapse.navbar-collapse
              ul.nav
                li
                  a(href='/') HOME
                li
                  a(href='/season') SEASON/EVENTS
                li
                  a(href='/support') SUPPORT
                li
                  a(href='/about') ABOUT
                li
                  a(href='/press') PRESS PAGE

    block content
    footer
      .container
        h3 Theater
        h3 Schmeater
      .container
        p Address: 2125 3rd Ave, Seattle, WA 98121
        p Phone: (206) 324-5801
      small &copy; 2016 Theater Schmeater, All Rights Reserved
