extend layout

block content
  .background
    .otherContent
      #playHeaderSmall
        .centralText
          h3.dottedBorders OCTOBER 20 - DECEMBER 4
          h1.greenBar LITTLE BIT OF BLISS
          .innerArrows
            a(class="arrow" href="/play")
              span PREV
              span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
            a(class="arrow" href="/play")
              span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
              span NEXT
          h3.dottedBorders DETAILS AND TICKET INFO
      #playHeaderBig
        a(class="arrow" href="/play")
          span PREV
          span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        .centralText
          h3.dottedBorders OCTOBER 20 - DECEMBER 4
          h1.greenBar LITTLE BIT OF BLISS
          h3.dottedBorders DETAILS AND TICKET INFO
        a(class="arrow" href="/play")
          span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
          span NEXT
      #playInfo
        #description
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        .div
          #poster.image1
          #ticketInfo
              h2 DATES
              p October 20 - December 4
              p Saturday & Saturdays - 8:00 pm
              p Sunday - 2:00 pm
              button BUY TICKETS
              h2 PRICES
              p $10 reserved online
              p $15 unreserved at the door
        h1 Cast and Crew
        ul
          li
            h3 Betty Buck
            p actor - Ms. Violencello
          li
            h3 Becca Bit
            p actor - Ms. Contrabass
          li
            h3 Lola Less
            p actor - Mrs. Tenorsax
          li
            h3 Mike Mildew
            p director
          li
            h3 Sally Mal
            p stage manager
        #endBar
          a(class="arrow" href="/play")
            span PREV
            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
          .greenBar
          a(class="arrow" href="/play")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
            span NEXT
