extends layout

block content
  .background.whiteGreen
    .content
      .pressContent
        h1 Press & Publicity
        h2 CONTACT
        p For press inquires, please contact Sir McBlahBlah (email link), Director of the Press
        h2 PHOTOS
        p Images of our productions and events can be found in the image gallery
        hr
        h2 PRESS RELEASES
        p read and download the latest press releases related to happenings at Theater Schmeater.
        ul
          li
            h3 4/20/16 -&nbsp;
              a(href="#") Title of Thing
            p Explanation of what this wonderful thing was about, truly concise and informative.
          li
            h3 3/03/16 -&nbsp;
              a(href="#") Title of Another Thing
            p Explanation of what this wonderful thing was about, truly concise and informative.
          li
            h3 2/19/16 -&nbsp;
              a(href="#") Tales of The Bollywog
            p Lurking beneath Seattle is the Bollywog, its ungodly tale masterfully retold in this award-winning Schmeater production.
        p Older event and production information available upon request.
      .rightGreen
