extends layout

block content
  .background.whiteGreen
    .eventContent
      .currentSeason
        h1 2016 SEASON
        .dotBorder
          p Season Tickets are a great way to save! Purchase and learn more about the many options available in our #[a(href="#") Tickets and Discounts] section.
        ul
          li
            .image.image1
            .seasonText
              .title
                h3 Little Bit of Bliss
              p May 25 - Dec 18
              a(href="#") VIEW DETAILS
              a(href="#") GET TICKETS
          li
            .image.image2
            .seasonText
              .title
                h3 Hunky Dory Dinner
              p June 12 - July 30
              a(href="#") VIEW DETAILS
              a(href="#") GET  TICKETS
          li
            .image.image3
            .seasonText
              .title
                h3 The Happening
              p Oct 29 - Nov 1
              a(href="#") VIEW DETAILS
              a(href="#") GET  TICKETS
      .upcomingEvents
        h1 UPCOMING
        h1 SCHMEE EVENTS
        ul
          li.eventItem
            a(href="#")
              .dateBox
                p APRIL
                h3 3
              .eventText
                h3 Slap Night
                p Drink Wine and be merry at our annual slapstick show
              span VIEW DETAILS
          li.eventItem
            a(href="#")
              .dateBox
                p APRIL
                h3 15
              .eventText
                h3 Rollin' Shakespeare
                p We invite the critically-acclaimed worst shakespearean actors to give you a laugh
              span VIEW DETAILS
          li.eventItem
            a(href="#")
              .dateBox
                p APRIL
                h3 24
              .eventText
                h3 25th Anniversary Gala
                p We've been around for 25 years, come and celebrate this momentous occasion!
              span VIEW DETAILS
          li.eventItem
            a(href="#")
              .dateBox
                p MAY
                h3 4
              .eventText
                h3 Star Wars in the Park
                p You've seen it on the screen, now see it in the park!
              span VIEW DETAILS
