extends layout

block content
  .purpleWhiteBackground
    .content
      .halfContent1
        h1 2016 Season
          ul
            li EVENT ONE
            li Over hear
            li will be a neat table
            li of the plays
            li if you'd like
      .halfContent2
        h1 Upcoming Events
          ul
            li EVENT ONE
            li same thing
            li over here
            li but more
            li broad so can
            li include non-
            li stage things
