extends layout

block content
  .background.whiteGreen
    .content
      .rightNav
        ul
          li 
            h1 SUPPORT
          li
            a(href="#") DONATE
          li
            a(href="#") VOLUNTEER
          li
            a(href="#") ACT
          li
            a(href="#") DESIGN
          li
            a(href="#") DIRECT
      .scrollContent
        h1 Support the Schmee
        p Theater Schmeater could always use your help to put great plays on the stage. Being a local playhouse in a competitive city means donations are always welcome, and free work is beloved too! Yeah this paragraph is a first draft.
        hr
        h2 Donate
        p All contributions make an immense impact in providing the BEST small theater in Seattle! You may not know this: ticket sales contribute to only 40% of our revenue. Donors like you help keep The Schmee running while allowing us to provide groundbreaking art for all, including free tickets to anyone under 18 who attends a show at Theater Schmeater.

        p Theater Schmeater is a 501(c)3 organization. All donations are deductible to the full amount allowable by law.

        h3 Donate online
        p We use PayPal for credit card donations. Click the PayPal button below to make your donation. Now you can also donate monthly by checking the recurring box in the PayPal form. This way you can spread smaller individual donations monthly over the entire year.
        h3 Donate by mail
        p Download and print our donation form in Adobe Acrobat format. Mail it to us with your donation at: Theater Schmeater, 300 Lenora St #161, Seattle, WA 98121
        h3 Employer Matching
        p Many area employers offer matching donations to qualified non-profits. Check with your company's HR or community outreach department to see if your company supports the arts in this manner. If so, let us know your Employer's name at the time of your donation.
        h3 Schmeater wish list
        p Your donations will go toward the productions of our plays, and a few items that we've got our eyes on buying are below.
        ol
          li Cutting Board Table (folding portable) for Costume Shop $350.00 online
          li New High resolution speakers for our auditorium $1000
          li QueCom communication headsets system ($800.00 @ PNTA)
          li Metal storage racks for our costume shop. ( 4 @ $89 each Home Depot )
          li Portable Table Saw ($499.00 @ Lowes)
        hr
        h2 Volunteer
        p Theater Schmeater began in 1992 as a group of volunteers. Volunteers remain a vital part of the Schmeater family, ushering shows, helping in the lighting and sound booth, building sets and assembling props and costumes. The contributions of volunteers go a long way toward the success of our productions. Whatever your interests, Theater Schmeater can use your help.
        p Send an email to Jaime Shure at amd@schmeater.org letting us know what type of volunteering interests you.
        hr
        h2 Act
        p Theater Schmeater's Artistic Director, Casting Director or a representative, attend Theater Puget Sound general auditions in February. The shows for the following season include actors cast from those auditions, actors who have worked for us before and actors who have been brought in by individual directors. In addition, the Artistic Director and Artistic Associate attend many shows in Seattle throughout the year and often call in actors based on work they see in those shows.
        p Some roles are pre-cast in Theater Schmeater productions. We will always make clear which roles those are in each production. Final casting decisions are made primarily by the director, with input and approval from the Artistic Director and Casting Director.
        p At this time we are able to hire only non-equity actors.
        hr
        h2 Design
        p At Theater Schmeater we are always looking for designers who are talented and ambitious. A designer who is capable and willing to deliver something special for the production. A designer who is able to look within and challenge themselves at every turn. But most importantly a designer who wants to have fun! If this is you, please send a resume and some examples of past work to:
        p design@schmeater.org
        p OR Theater Schmeater, 300 Lenora St, #161 Seattle, WA 981221
        hr
        h2 Direct
        p The Artistic Director selects all directors for Theater Schmeater productions. With very few exceptions, directors are hired only if the Artistic Director has seen their work elsewhere. If you are interested in directing at Theater Schmeater, please notify the Artistic Director in writing as to when your work can be seen and send a letter of interest along with a resume to Theater Schmeater
